@tailwind base;
@tailwind components;
@tailwind utilities;

@layer {
  html,
  body {
    height: 100%;
    color: white;
    scroll-behavior: smooth;
  }

  @layer base {
    body {
      @apply text-[#1f2937] tracking-wide bg-[#eff2ed];
    }
  }
}
